*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

  .light-theme {
    background-color: white;
    color: black;
  }

  .dark-theme {
    background-color: #121212;
    color: white;
  }

  body {
    transition: 0.3s;
  }
